[gcode_button 45_deg_check]
##Reads the switch besides the gantry, if pressed it is in the 45degree position.
pin: PC15 																	# this is the setting for the SKR E3 Mini V3 using the E0STOP
press_gcode: SET_GCODE_VARIABLE MACRO=Y_ANGLE VARIABLE=state VALUE="45"
release_gcode: SET_GCODE_VARIABLE MACRO=Y_ANGLE VARIABLE=state VALUE="30"

[gcode_macro Y_ANGLE]
description: The Y_ANGLE state defaults to 30 degrees and changes to 45 if the switch is pressed.
variable_state: "30"
variable_angle: "0"
gcode:
  RESPOND PREFIX="Y Angle is: {state}"

[gcode_macro _VALIDATE_ANGLE]
description: Validate 30/45 angle by reading the state of the Y_ANGLE macro state.
variable_validation_error: 0
gcode:
  {% set y_angle_state = printer["gcode_macro Y_ANGLE"].state|string %}
  {% set requested_angle = printer["gcode_macro Y_ANGLE"].angle|string %}

  #Uncomment the line below if you need to see the values and troubleshoot
  #RESPOND PREFIX="Debug - Y_angle_state: '{y_angle_state}' requested: '{requested_angle}'"

  {% if y_angle_state == requested_angle %}
    M117 Angle Verified... Continuing to Print!
    RESPOND PREFIX=📃 MSG="Angle Verified... Continuing to Print!"
  {% else %}
    RESPOND PREFIX=⚠️ MSG="Your Angle is set to {y_angle_state}, but you sliced for {requested_angle}"
    SET_GCODE_VARIABLE MACRO=_VALIDATE_ANGLE VARIABLE=validation_error VALUE=1
  {% endif %}