[delayed_gcode unlock_Z]
description: When the printer starts the belt is released and available to advance.
initial_duration: 0.1
gcode:
  RELEASE_Z_BELT

##https://www.klipper3d.org/G-Codes.html#set_kinematic_position
##https://docs.kalico.gg/G-Codes.html?h=set_kinematic_position#force_move_1
[gcode_macro RELEASE_Z_BELT]
gcode:
  {% if 'z' not in printer.toolhead.homed_axes %}
    RESPOND PREFIX=📃 MSG="Z not homed, release_z_belt"
    SET_KINEMATIC_POSITION CLEAR=XY
    #SET_KINEMATIC_POSITION CLEAR_HOMED=XY
  {% else %}
    RESPOND PREFIX=📃 MSG="Z already homed — skipping release_z_belt"
  {% endif %}

[gcode_macro EJECT_PRINT]
description: Ejects the print from the belt by advancing belt by eject_distance
variable_eject_distance: 150
gcode:
  RELEASE_Z_BELT
  SAFE_PARK
  G91                                                                       # set relative positioning
  G1 Z{params.DISTANCE|default(eject_distance)|int} F1200                   # advance belt by param DISTANCE or default eject_distance
  G90                                                                       # set absolute positioning