[gcode_macro SAFE_PARK]
gcode:
  {% set th = printer.toolhead %}
  {% set max_x = th.axis_maximum.x|float %}
  {% set max_y = th.axis_maximum.y|float %}
  {% set act_x = th.position.x|float %}
  {% set act_y = th.position.y|float %}
  {% set park_delta = 10|float %}

  {% if act_x >= max_x %}
    {% set x_safe = 0 %}
    RESPOND PREFIX=📃 MSG="set x_safe = 0, act_x: {act_x} >= max_x: {max_x}"
  {% elif act_x >= (max_x - park_delta) %}
    {% set x_safe = max_x - act_x %}
    RESPOND PREFIX=📃 MSG="set x_safe = max_x({max_x}) - act_x({act_x}): {x_safe}"
  {% else %}
    {% set x_safe = park_delta %}
    RESPOND PREFIX=📃 MSG="set x_safe: {x_safe}"
  {% endif %}

  {% if act_y >= max_y %}
    {% set y_safe = 0 %}
    RESPOND PREFIX=📃 MSG="set y_safe = 0, act_y: {act_y} >= max_y: {max_y}"
  {% elif act_y >= (max_y - park_delta) %}
    {% set y_safe = max_y - act_y %}
    RESPOND PREFIX=📃 MSG="set y_safe = max_y({max_y}) - act_y({act_y}): {y_safe}"
  {% else %}
    {% set y_safe = park_delta %}
    RESPOND PREFIX=📃 MSG="set y_safe: {y_safe}"
  {% endif %}

  # Check to see if the axes are homed (preventing error messages if we cancelled a print.)
  {% if "xyz" not in printer.toolhead.homed_axes %}
      RESPOND PREFIX=📃 MSG="Notice: Printer XYZ not homed, skipping SAFE_PARK Movements."
  {% else %}
    G91
    G0 X{x_safe} Y{y_safe} F20000                                               # move nozzle to remove stringing
    G90
    G0 X{max_x} Y{max_y} F3600                                                  # park nozzle at rear
  {% endif %}